.about-me-container h2 {
    font-size: var(--section-title-font-size);
    margin: 0;
    margin-top: 30px;
}

.paragraphs {
    display: flex;
    gap: 36px;
    font-size: 1.1rem;
}

.paragraphs > div {
    flex-grow: 1;
}

/* Media queries */ 

@media (max-width: 750px) {
    .paragraphs {
        flex-direction: column;
        gap: 0;
    }
}
