.section-container h2 {
    font-size: var(--section-title-font-size);
    margin-bottom: 3rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.see-more {
    margin-top: 64px;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}



