.header {
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
}

.header a {
    color: inherit;
    /* flex-grow: 1; */
}

.header .logo {
    margin: 0;
    font-size: 1.5 rem;
    text-wrap: nowrap;
    font-weight: 400;
}

.header .nav ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.header .nav li {
    list-style: none;
    /* padding: 0 18px; */
}

.header a {
    transition: 0.3s ease;
 }