#root {
    flex-grow: 1;
    max-width: 1000px;
    padding: 0 2rem 2rem;
    box-sizing: border-box;
  
    --tagline-font-size: 3rem;
    --section-title-font-size: 2rem;
}
  
.section-title {
  font-size: var(--section-title-font-size);
}

@media (max-width: 750px) {
    .section-title {
      text-align: center;
    }
}

@media (max-width: 500px) {
    #root {
      padding: 1.5rem 1rem;
    }
}